{% extends 'base.html' %}
{% block title %}You are Logged Out{% endblock title %}
{% block body %}

<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="lg:w-2/3 flex flex-col sm:flex-row sm:items-center items-start mx-auto">
      <h1 class="flex-grow sm:pr-16 text-2xl font-medium title-font text-gray-900">You are Logged Out from our <span class="text-lg font-semibold">CodeBlog</span></h1>
        <a href="{% url 'login' %}" class="active:text-indigo-700 ml-3 flex-shrink-0 text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg mt-10 sm:mt-0">Login Agian</a>
        <a href="{% url 'LP' %}" class="active:text-indigo-700 ml-3 flex-shrink-0 text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg mt-10 sm:mt-0">Go to Home</a>
      
    </div>
  </div>
</section>

{% endblock body %}