{% extends 'base.html' %}
{% block title %}CodeBlog | You Password Reset Was Successfull.{% endblock title %}
{% block body %}

<div class="container m-auto">
  <section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
      <div class="lg:w-2/3 flex flex-col sm:flex-row sm:items-center items-start mx-auto">
        <h1 class="flex-grow sm:pr-16 text-2xl font-medium title-font text-gray-900">Your Password Reset was successfull.</h1>
        <a href="{% url 'login' %}" class=" text-center bg-indigo-500 hover:bg-indigo-600 px-2 py-3 my-3 text-white font-bold rounded-xl">Login Now.</a>
      </div>
    </div>
  </section>
</div>

{% endblock body %}