{% comment %} {% extends 'base.html' %}
{% block title %}Talha's Ecommerce Store | Add a New Product{% endblock title %}
{% block body %}
{% load tailwind_filters %}
<div class="container m-auto ">
  <div class="container m-auto ">
    <div class="flex justify-center">
      <div
        class="flex rounded-2xl shadow-xl justify-center hover:shadow-indigo-200 hover:shadow-2xl  max-w-7xl w-[90%]  bg-gradient-to-bl from-indigo-200 via-blue-300 to-indigo-200 m-4 py-5">

        <div class="h-[90%] w-full mt-7">
          <div class="flex flex-col justify-center items-center mt-7 space-y-6 md:space-y-8">
            <form class="w-1/2 m-auto" method="post" enctype="multipart/form-data">
              <div class="">
                {% csrf_token %}
                {{ form|crispy }}
              </div>
              <div class="text-center mt-7">
                <button
                  class="uppercase px-24 md:px-[118px] lg:px-[140px] py-2 rounded-md text-white bg-gradient-to-t from-blue-500 via-blue-600 to-blue-500  font-medium " type="submit">Create Store</button>
              </div>
            </form>
          </div>
          
        </div>
      </div>
    </div>
    <script src="https://kit.fontawesome.com/290d4f0eb4.js" crossorigin="anonymous"></script>
  </div>
</div>


{% endblock body %} {% endcomment %}
