{% extends 'base.html' %}
{% block title %}Talha's Ecommerce Store | Your Product has been Deleted{% endblock title %}
{% block body %}

<div class="container m-auto">
  <section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
      <div class="lg:w-2/3 flex flex-col sm:flex-row sm:items-center items-start mx-auto">
        <h1 class="flex-grow sm:pr-16 text-2xl font-medium title-font text-gray-900">Your Product has been Deleted.</h1>
        <a href="{% url 'home:home' %}" class="flex-shrink-0 text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg mt-10 sm:mt-0">Go To Home</a>
      </div>
    </div>
  </section>
</div>

{% endblock body %}