{% extends 'base.html' %}
{% block title %}Talha's Ecommerce Store | Here is our best products{% endblock title %}
{% block body %}
<div class="container m-auto">
  <section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-wrap w-full mb-20">
        <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
          <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">Pitchfork Kickstarter Taxidermy
          </h1>
          <div class="h-1 w-20 bg-indigo-500 rounded"></div>
        </div>
        <p class="lg:w-1/2 w-full leading-relaxed text-gray-500">Whatever cardigan tote bag tumblr hexagon brooklyn
          asymmetrical gentrify, subway tile poke farm-to-table. Franzen you probably haven't heard of them man bun deep
          jianbing selfies heirloom prism food truck ugh squid celiac humblebrag.</p>
      </div>

      <div class="flex flex-wrap -m-4">
        {% for pros in pro %}
        <div class="xl:w-1/4 md:w-1/2 p-4">
          <div class="bg-gray-300  p-6 rounded-lg">
            <img class="h-40 rounded w-full object-cover object-center mb-6" src="{{pros.pic.url}}" alt="content">
            <h3 class="tracking-widest text-indigo-800 text-lg font-medium title-font">${{pros.price}}</h3>
            <div class="">
              <a href="{% url 'shop:pro_det' pros.slug %}" class="text-xl font-semiboldbold text-gray-900 title-font mt-2 mb-4">{{pros.name}}</a> 
            </div>
            <br>           
            <div class="flex justify-start items-start">
              <a href="" class="text-xl font-bold text-white bg-blue-500 rounded-lg text-center px-4 py-2 mt-2">Buy!</a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div> 
      <div class="flex items-center justify-center mt-4">
        <a href="{% url 'shop:pro_sell' %}" class="px-3 py-3 bg-indigo-700 text-white rounded-xl font-semibold">Add a New Product</a>
      </div>
    </div>
  </section>

</div>
{% endblock body %} 