{% extends 'base.html' %}
{% block title %} Talha's Ecommerce Store | Explore Store : {{pro.name}} {% endblock title %}
{% block body %}

<div class="container m-atuo">
  <section class="text-gray-600 body-font overflow-hidden">
    <div class="container px-5 py-24 mx-auto">
      <div class="lg:w-4/5 mx-auto flex flex-wrap items-center justify-center">
        <img alt="ecommerce" class="lg:w-1/2 w-full lg:h-auto h-64 object-cover object-center rounded" src="{{pro.pic.url}}">
        <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0">
          <h2 class="text-sm title-font text-gray-500 tracking-widest">{{pro.author}}</h2>
          <h1 class="text-gray-900 text-3xl title-font font-medium mb-1">{{pro.name}}</h1>
          
          <p class="leading-relaxed">{{pro.des}}</p>
          
          <div class="flex mt-2">
            <span class="title-font font-medium text-2xl text-gray-900">${{pro.price}}</span>
           {% if own %}
           <p class="flex ml-auto text-white bg-indigo-500 border-0 py-2 px-6 rounded">Owned!</p>
           {%  elif pro %}
          <form class="flex ml-auto" method = "POST" action="{% url 'purchase:start' %}">
            {% csrf_token %}
            <input type="hidden" value={{pro.slug}} name="slug">
            {% if request.user.is_authenticated %}
            <button type="submit" class=" text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded">Buy</button>
            {% else %}
            <a href="{% url 'login' %}" class=" text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded">Login to purchase</a>
            {% endif %}
          </form>
           {% endif %} 
          </div>
          {% if request.user.is_superuser %}
          <div class="flex mt-2 border-4 border-indigo-800 hover:shadow-xl px-2 py-3 rounded-xl">
            <a href = "{% url 'shop:pro_upd' pro.slug %}" class="mx-auto flex justify-center  text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded">Update</a>
            <a href = "{% url 'shop:pro_dlt' pro.slug %}" class="mx-auto flex justify-center  text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-red-600 rounded">Delete</a>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </section>
</div>

{% endblock body %} 