{% extends 'base.html' %}
{% block title %}Profile of {{request.user.first_name}} {{request.user.last_name}}{% endblock title %}
{% block body %}

<div class="container m-auto">
  <!-- component -->
  <link rel="stylesheet" href="https://demos.creative-tim.com/notus-js/assets/styles/tailwind.css">
  <link rel="stylesheet"
    href="https://demos.creative-tim.com/notus-js/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css">

  <main class="profile-page">
    <section class="relative block h-500-px">
      <div class="absolute top-0 w-full h-full bg-center bg-cover" style="
            background-image: url('{{request.user.pic.url}}');
          ">
        <span id="blackOverlay" class="w-full h-full absolute opacity-50 bg-black"></span>
      </div>
      <div class="top-auto bottom-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden h-70-px"
        style="transform: translateZ(0px)">
        <svg class="absolute bottom-0 overflow-hidden" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none"
          version="1.1" viewBox="0 0 2560 100" x="0" y="0">
          <polygon class="text-blueGray-200 fill-current" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
    <section class="relative py-16 bg-blueGray-200">
      <div class="container mx-auto px-4">
        <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-xl rounded-lg -mt-64">
          <div class="px-6">
            <div class="flex flex-wrap justify-center">
              <div class="w-full lg:w-3/12 px-4 lg:order-2 flex justify-center">
                <div class="relative">
                  {% if not request.user.pic %}
                  <img src=""
                    class="shadow-md hover:shadow-lg hover:shadow-indigo-300 rounded-full h-auto align-middle border-none absolute -m-16 -ml-20 lg:-ml-16 max-w-150-px">
                  {% else %}
                  <img src="{{request.user.pic.url}}"
                    class="shadow-md hover:shadow-lg hover:shadow-indigo-300 rounded-full h-auto align-middle border-none absolute -m-16 -ml-20 lg:-ml-16 max-w-150-px">
                  {% endif %}
                </div>
              </div>
              
            </div>
            <div class="text-center mt-12">
              <h3 class="text-4xl font-semibold leading-normal text-blueGray-700 mt-28 mb-2">
                {{request.user.first_name}} {{request.user.last_name}}
              </h3>
              <div class="text-sm leading-normal mt-0 mb-2 text-blueGray-400 font-bold uppercase">
                <i class="fas fa-map-marker-alt mr-2 text-lg text-blueGray-400"></i>
                {{request.user.address}}
              </div>
              <div class="mb-2 text-blueGray-600 mt-4">
                <i class="fas fa-briefcase mr-2 text-lg text-blueGray-400"></i>{{request.user.profession}}
              </div>
              <div class="mb-2 text-blueGray-600 mt-4">
                <p><span class="font-bold ">Email</span> - {{request.user.email}}</p>
              </div>
            </div>
            <div class="mt-10 py-10 border-t border-blueGray-200 text-center">
              <div class="flex flex-wrap justify-center">
                <div class="w-full lg:w-9/12 px-4">
                  <p class="mb-8 text-lg leading-relaxed text-blueGray-700">{{request.user.bio}}</p>
                  <div>
                    <a href="{% url 'home:profile_upd' request.user.username %}" class="font-bold px-3 py-3 rounded-xl mt-3 text-white bg-indigo-500 hover:bg-indigo-600 shadow-md hover:shadow-lg ">Update Profile</a>
                  <a href="{% url 'home:profile_dlt' request.user.username %}" class="font-bold px-3 py-3 rounded-xl mt-3 text-white bg-indigo-500 hover:bg-red-600 shadow-md hover:shadow-lg ">Delete Profile</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> 
      </div>
      <footer class="relative bg-blueGray-200 pt-8 pb-6 mt-8">
        <div class="container mx-auto px-4">
          <div class="flex flex-wrap items-center md:justify-between justify-center">
            <div class="w-full md:w-6/12 px-4 mx-auto text-center">
              <div class="text-sm text-blueGray-500 font-semibold py-1">
                Made by <a href="https://github.com/talhakhan54" target="_blank" title="GitHub"
                  class="text-blueGray-500 hover:text-gray-800" target="_blank">Talha Shahid Khan</a> 
              </div>
            </div>
          </div>
        </div>
      </footer>
    </section>
  </main>
</div>

{% endblock body %}